<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LoggerPersistance" value="0" />
		<add key="LanguagePersistance" value="0" />
	</appSettings>
	<connectionStrings>
		<add name="AppConnectionSqlServer" connectionString="Server=PC_EMA\SQLEXPRESS;Database=Services;Integrated Security=True;" />
		<add name="ServicesConnectionSqlServer" connectionString="Server=PC_EMA\SQLEXPRESS;Database=Services;Integrated Security=True;" />
		<add name="LanguagePath" connectionString="D:\Facu\3er año\Tesis\KogalPOS\Cliente\I18n\" />
		<add name="LoggerPath" connectionString="D:\log" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>